name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"]  # Change this if your default branch is 'master'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install 
        run: npm Install
      
      - name: Build 
        run: npm run build

        env:
          # This maps your GitHub Secrets to the React build
          REACT_APP_EMAILJS_SERVICE_ID: ${{ secrets.REACT_APP_EMAILJS_SERVICE_ID }}
          REACT_APP_EMAILJS_TEMPLATE_ID: ${{ secrets.REACT_APP_EMAILJS_TEMPLATE_ID }}
          REACT_APP_EMAILJS_PUBLIC_KEY: ${{ secrets.REACT_APP_EMAILJS_PUBLIC_KEY }}
      
      - name: Configure Pages 
        uses: actions/configure-pages@v5

      - name: Upload artifact 
        uses: actions/upload-pages-artifact@v3
        with:
          path: build
      
      - name: Deploy to GithubPages
        uses: actions/deploy-pages@v4
      