
/* 2. Main Container */
.carousel-container {
  overflow: hidden;
  padding: 30px 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;

  -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
  mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}

@media (min-width: 1024px) {
  .carousel-container { width: 75%; }
}

/* 3. The Animated Track */
.carousel-track {
  display: flex;
  align-items: center;
  width: max-content;
  animation: scroll 40s linear infinite;
}

.carousel-track:hover { animation-play-state: paused; }

/* 4. Icon Elements */
.icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
  font-size: 2.5rem;
  /* Force the color and ensure it overrides any library defaults */
  color: #4CAF50;

  opacity: 0.8;
  transition: all 0.3s ease;
}

.icon-card:hover {
  opacity: 1;
  color: #4CAF50;
  transform: translateY(-5px) scale(1.1);
  cursor: pointer;
}

/* AboutMe.css */

.about-section {
  /* background-color: #fff; */
  overflow: hidden;
}

.about-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  /* color: #000; */
  letter-spacing: -1px;
}

.about-text {
  color: #777;
  font-size: 1rem;
  line-height: 1.8;
}

/* Background Accents */
.blob-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  background: radial-gradient(circle, rgba(240,240,255,1) 0%, rgba(255,255,255,0) 70%);
  z-index: 0;
  border-radius: 50%;
}

.about-image {
  position: relative;
  z-index: 1;
  /* Adjust size to match the design */
  max-width: 50%;
}

/* Responsive adjustment for title */
@media (max-width: 768px) {
  .about-title {
    font-size: 2rem;
  }
  .blob-bg {
    width: 300px;
    height: 300px;
  }
  .about-image {
  width: 150px;
}
}



/* 5. Animation */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}