/* Footer.css */

.custom-footer {
  /* border-top: 1px solid #f5f5f5;  */
  font-family: 'Arial', sans-serif; /* Clean, modern font */
}

.footer-link {
  color: #888;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #4CAF50;
}

.copyright-text {
  color: #aaa;
  font-size: 0.9rem;
}

.brand-name {
  color: #666;
  font-weight: 500;
}